---
import { getSessionUser } from "@/utils/auth.ts";
import "../../styles/global.css";
import UseTicket from "../../components/use-ticket/UseTicket.tsx";
import { db, Funding, User, eq } from "astro:db";

export const prerender = false;

const { id } = Astro.params;
const sessionUser = await getSessionUser(Astro.request);

if (!sessionUser) {
  return Astro.redirect("/");
}

const fundingResults = await db
  .select()
  .from(Funding)
  .where(eq(Funding.id, id!));
const funding = fundingResults[0] || null;

if (!funding) {
  return Astro.redirect("/404");
}

const userResults = await db
  .select()
  .from(User)
  .where(eq(User.id, sessionUser.id));
const userTickets = userResults[0]?.tickets || 0;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>티켓 사용하기 - {funding.title}</title>
  </head>
  <body>
    <UseTicket
      sessionUser={sessionUser}
      funding={funding}
      userTickets={userTickets}
      client:load
    />
  </body>
</html>
